* {
  box-sizing: border-box;
  /* paddings en border behoort tot visuele breedte en hoogte, anders moet je het gaan berekenen */
  margin: 0;
  padding: 0;
}

body,
.key__container {
  height: 100vh;
  width: 100vh;

  overflow: hidden;
  position: relative;
}

.key {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 50;
}
